header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    background-color: #333333;
    top: 0;
    position: fixed;
    width: 100%;
    padding: 15px 20px;
}
h1{
    text-align: center;
    margin: 0;
    margin-left: 50px;
    font-size: 40px;
}
h1 a{
    color: white;
    text-decoration: none;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 10px;
    display: flex;
}
nav ul li{
    padding-right: 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
nav ul li a:hover{
    text-decoration: underline;
}

body{

    margin: 0;
    margin-top: 90px;
    background-color: rgba(15, 15, 135, 0.653);
}
.Inhalt h2{
    font-size: 50px;
}
.Inhalt p{
    padding-top: 0;
    line-height: 4px;
}
.Inhalt{
    margin-left: 10px;
}

.Kontakt p{
    padding: 0%;
}

footer{
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    background-color: #333333;
    color: white;
    padding: 10px 10px;
}
footer a{
    margin-right: 20px;
    text-decoration: none;
    color: white;
}
footer a:hover{
    text-decoration: underline;
}