header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    background-color: #333333;
    top: 0;
    position: fixed;
    width: 100%;
    padding: 15px 20px;
}
h1{
    text-align: center;
    margin: 0;
    margin-left: 50px;
    font-size: 40px;
}
h1 a{
    color: white;
    text-decoration: none;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 10px;
    display: flex;
}
nav ul li{
    padding-right: 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
nav ul li a:hover{
    text-decoration: underline;
}

body{
    justify-content: center;
    display: flex;
    margin: 0;
    margin-top: 90px;
    background-color: rgba(15, 15, 135, 0.653);
}
#gameOverScreen{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#gameOverScreen h1 {
    margin: 0;
    font-size: 50px;
    text-align: center;
}
#gameOverScreen p {
    font-size: 18px;
    margin-bottom: 20px;
}
.hidden{
    display: none;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;  /* Sorgt für zentrierte Buttons */
    gap: 15px;  /* Abstand zwischen den Buttons */
}

.button-container button {
    background: #ff4500;
    color: white;
    font-size: 18px;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s, transform 0.1s;
    width: 80%;  /* Buttons nehmen 80% der Box ein */
    max-width: 200px;  /* Maximalgröße */
    text-align: center;
}

.button-container button:hover {
    background: #ff6347;
}

.button-container button:active {
    transform: scale(0.95);
}

#exitButton a{
    text-decoration: none;
    color: white;
} 

footer{
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    background-color: #333333;
    color: white;
    padding: 10px 10px;
}
footer a{
    margin-right: 20px;
    text-decoration: none;
    color: white;
}
footer a:hover{
    text-decoration: underline;
}